body {
    background-image: url("images/yep");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

ul {
  list-style-type: none;
  color: white;
}

h1{
	color: white;
}

#jumbo {
   background: rgba(54, 54, 54, 0.5);
}

#ul_hor li{
    display: inline;
}
