{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'home' %}">
        {% csrf_token %}
        {{ s_form|crispy }}
        <button class="small" type="submit">Search</button>
  </form>
  <section class="tiles">
    {% for product in products %}
      <article>
        <span class="image">
          <img src="{{ product.image.url }}" alt="Image Error" height="300" width="100"/>
        </span>
        <a href="{% url 'view-product' product.pk %}">
          <h2>{{ product.title }}</h2>
          <div class="content">
            <p>
              @Rs {{ product.price }} <br>
              {{ product.description|slice:150 }}<br>
              Sold by: {{ product.company.name }}
            </p>
          </div>
        </a>
      </article>
    {% empty %}
      <h5>No products found</h5>
    {% endfor %}
  </section>
{% endblock content %}
